<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
	<head>
	</head>
	
	<body>
		<h1>About</h1>
		<p>
			This is my first app </br>
			Link: <a href="http://localhost:3000/static_pages/about">About page</a>
		</p>
	</body>
</html>
