<% provide(:title, 'Help') %>
<!DOCTYPE html>
<html>
	<head>
	</head>
	
	<body>
		<h1>Help</h1>
		<p>
			This is the Help page </br>
			Link: <a href="http://localhost:3000/static_pages/help">Help page</a>
		</p>
	</body>
</html>
