<% provide(:title, @user.name)%>
<!DOCTYPE html>
<html>
	<head>
		<title>User profile</title>
	</head>
	<body>
		<div class="row">
			<aside class="span4">
				<section>
					<h1> <%= gravatar_for @user %>
					<%= @user.name %> </h1>
				</section>
			</aside>
		</div>
		<p>
			Name: <%= @user.name %> </br>
			Email: <%= @user.email %> </br>
		</p>
	</body>
</html>